core/*
vendor/*
modules/contrib/*
modules/README.txt
themes/README.txt
sites/*
profiles/*
index.php
autoload.php
robots.txt
update.php
web.config
.htaccess
.ht.router.php
.gitattributes
.csslintrc
.editorconfig
.eslintignore
.eslintrc.json
example.gitignore
INSTALL.txt
README.md
