  <!-- HEADER -->
<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="/themes/Renify/images/route.jpg" data-natural-width=1600 data-natural-height=1200 data-position-y=center>
    <div class="shadow-overlay"></div>
    <div class="home-content">
        <div class="row home-content__main">
            <div class="home-content__left">
                  <h1>Shipping Lines</h1>
                  <h3>ITS MORE FUN TO RIDE SHIPPING LINES</h3>
                <div class="home-content__btn-wrap">
                    <a href="#body" class="btn btn--stroke--reverse btn--big home-content__btn ">
                        Find Schedules
                    </a>
                </div>
            </div> <!-- end home-content__left-->
        </div> <!-- end home-content__main -->
        <ul class="home-content__social">
            <li><a href="#." class="share-fb" data-pageid="/vessel/" data-title="Shipping Lines">Facebook</a></li>
            <li><a href="#." class="share-twitter" data-pageid="/vessel/" data-title="Shipping Lines">twitter</a></li>
            <li><a href="#." data-pageid="/vessel/" data-title="Shipping Lines">Instagram</a></li>
        </ul>
    </div> <!-- end home-content -->
    <a href="#body" class="home-scroll ">
        <span class="home-scroll__text">Scroll</span>
        <span class="home-scroll__icon"></span>
    </a>
</section>
<!-- END HEADER -->

<!-- Search -->
<section>  
    <div>
      <form action="/search/result/" method="get" accept-charset="utf-8" class="search-form">
        <input type="text"   name="keys" placeholder="Search" class="input">
        <input type="submit" name="" value="Search" class="submit">
      </form>
     </div>  
</section>

<!-- BREADCRUMB -->
<section id="breadcrumb" class="breadcrumb">
    <div class="cont_principal">
        <div class="cont_breadcrumbs">
          <div class="cont_breadcrumbs_3">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#">Shipping Lines</a></li>
            </ul>
            </div>  
        </div>
    </div>
</section>

{{ drupal_view('frontpage', 'block_1') }}

<section id="body" class="articles"  max-pager="">
  <div class="row section-header has-bottom-sep" >
    <!-- MODAL -->
      <div class="col-full">
        <input class="modal-state" id="modal-1" type="checkbox"  style="display: none;" />
        <div class="modal">
          <label class="modal__bg" for="modal-1"></label>
          <div class="modal__inner">
            <label class="modal__close" for="modal-1"></label>
            {# <iframe src="https://s-pass.ph/visitors/policy_table" width="100%" height="100%"></iframe> #}
          </div>
        </div>
    </div> 
    
    <div class="col-full">
      <h1 class="display-1">
        Choose Youre Destination
      </h1>
      {# <label class="btn btn--stroke" for="modal-1"><i class="fa fa-lightbulb"></i> Check Travel Requirements</label> #}
      <p class="lead">
        Search Youre Travel Plan and Dont Forget To Explore
      </p>
    </div>
    <div class="fb-like" 
                data-href="https://renifysite.com/vessel/" 
                data-width="" 
                data-layout="button_count" 
                data-action="like" 
                data-size="small" 
                data-lazy="true"
                data-share="true">
    </div>
  </div> 
  <!-- end section-header -->
  <div class="row features block-1-3 block-tab-full" data-aos="fade-in">
        <div class="col-block item-article item-feature" >
              <div class="card">
                <div class="views">
                  <a href="#."><i class="fa fa-eye"></i> <span id="view_count" class="CCL"></span> view(s)</a>
                </div>
                <div class="item-feature-image">
                  <img src="/themes/Renify/images/lazy/ship.svg" data-src="/sites/default/files/public/ship.jpg" class="img-fluid lazy" alt="">
                </div>
                <div class="item-feature__text route-block">
                  <h3 class="item-title"><i class="fas fa-shuttle-van"></i>Cocaliong Shipping Lines</h3>
                  <em class="item-ticket"><i class="fas fa-ship"></i><a href="#" title="">Latest Route</a></em>
                  <em>Cebu <i class="fas fa-arrow-right"></i> Dumaguete</em>                  
                  <div class="route_list">
                      <ul>
                          <li>Cebu</li>
                          <li>Dumaguete</li>
                          <li>Dapitan</li>
                          <li>Iloilo</li>
                          <li>Ozamis</li>
                          <li>Masbate</li>
                          <li>Nasipit</li>
                      </ul>
                  </div>
                </div>
                <div class="article-social">
                  <ul>
                    <li><i class="fa fa-share"></i></li>
                    <li><a href="#." class="share-fb"  data-pageid="/vessel/cocaliong/" data-title="Cocaliong Shipping Lines"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#." class="share-twitter"  data-pageid="/vessel/cocaliong/" data-title="Cocaliong Shipping Lines"><i class="fab fa-twitter"></i></a></li>
                    <li class="pull-right"><a href="#."><i class="fa fa-eye"></i> <span id="view_count" class="CCL"></span> view(s)</a></li>
                    <li class="pull-right"><a href="{{link}}#comment"><i class="fa fa-comment"></i> <span class="fb-comments-count" data-href="https://renifysite.com/vessel/cocaliong/"></span> Comments</a></li>
                  </ul>
                  <a href="/vessel/cocaliong/" class="btn btn--stroke--reverse btn-effect btn--big"><i class="fas fa-ship"></i> Find Schedules</a>
                </div>
              </div>
            </div>

      {% if rows -%}
        {% for row in rows %}
          {{row.content}}
        {% endfor %}
      {% endif %}
  </div>
</section>

{{ drupal_form('Drupal\\data_router\\Form\\MessageForm')}}
