  <!-- HEADER -->
<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="/themes/Renify/images/route.jpg" data-natural-width=1600 data-natural-height=1200 data-position-y=center>
    <div class="shadow-overlay"></div>
    <div class="home-content">
        <div class="row home-content__main">
            <div class="home-content__left">
                  <h1>Routes</h1>
                  <h3>ITS MORE FUN IN THE PHILIPPINES</h3>
                <div class="home-content__btn-wrap">
                    <a href="https://book.renifysite.com/" class="btn btn--stroke--reverse btn--big home-content__btn ">
                        Find Tickets
                    </a>
                </div>
            </div> <!-- end home-content__left-->
        </div> <!-- end home-content__main -->
        <ul class="home-content__social">
            <li><a href="#." class="share-fb" data-pageid="/routes/" data-title="Bus Routes">Facebook</a></li>
            <li><a href="#." class="share-twitter" data-pageid="/routes/" data-title="Bus Routes">twitter</a></li>
            <li><a href="#." data-pageid="" data-id="/routes/" data-title="Bus Routes">Instagram</a></li>
        </ul>
    </div> <!-- end home-content -->
    <a href="#body" class="home-scroll ">
        <span class="home-scroll__text">Scroll</span>
        <span class="home-scroll__icon"></span>
    </a>
</section>
    <!-- END HEADER -->

<!-- BREADCRUMB -->
<section id="breadcrumb" class="breadcrumb">
    <div class="cont_principal">
        <div class="cont_breadcrumbs">
          <div class="cont_breadcrumbs_3">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#">Bus Routes</a></li>
            </ul>
            </div>  
        </div>
    </div>
</section>

{{ drupal_view('frontpage', 'block_1') }}

<section id="body" class="articles center" >
    <ins class="bookingaff" data-aid="2227822" data-target_aid="2227822" data-prod="banner" data-width="200" data-height="200" data-lang="en">
        <!-- Anything inside will go away once widget is loaded. -->
            <a href="//www.booking.com?aid=2227822">Booking.com</a>
    </ins>
    <script type="text/javascript">
        (function(d, sc, u) {
          var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
          s.type = 'text/javascript';
          s.async = true;
          s.src = u + '?v=' + (+new Date());
          p.parentNode.insertBefore(s,p);
          })(document, 'script', '//cf.bstatic.com/static/affiliate_base/js/flexiproduct.js');
    </script>
</section>

<section id="body" class="articles"  max-pager="">
  <div class="row section-header has-bottom-sep" >
    <div class="col-full">
      <h1 class="display-1">
        Route Guides For You
      </h1>
      <p class="lead">
        Search Youre Travel Plan and Dont Forget To Explore
      </p>
    </div>
  </div> 
  <!-- end section-header -->
  <div class="row features block-1-3 block-tab-full" data-aos="fade-in">
      {% if rows -%}
        {% for row in rows %}
          {{row.content}}
        {% endfor %}
      {% endif %}
  </div>
</section>


<section id="body" class="articles center" >
    <ins class="bookingaff" data-aid="2227824" data-target_aid="2227824" data-prod="banner" data-width="200" data-height="200">
        <!-- Anything inside will go away once widget is loaded. -->
            <a href="//www.booking.com?aid=2227824">Booking.com</a>
    </ins>
    <script type="text/javascript">
        (function(d, sc, u) {
          var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
          s.type = 'text/javascript';
          s.async = true;
          s.src = u + '?v=' + (+new Date());
          p.parentNode.insertBefore(s,p);
          })(document, 'script', '//cf.bstatic.com/static/affiliate_base/js/flexiproduct.js');
    </script>
</section>

{{ drupal_form('Drupal\\data_router\\Form\\MessageForm')}}
