.dnd {
  border: dashed 2px;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
   transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay button {
    margin-left: 1rem;
}

.offcanvas-style {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.component-img {
    height: 25vh;
}
