table tr td ul {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

table tr td li {
	padding: 1rem;
	list-style: none;
  border-color: #4caf50;
  border-style: solid;
  border-width: 1px;
  margin: 0 1rem;
  width: 45%;
  margin: 4px 4px;
}

table tr td li:hover{
	border-color: black;
	color: black;
	transition: 1s;
}

table tr td li a:hover{
	color: black !important;
	transition: 1s;
}

.date-title-wrapper{
	display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.vessel_logo{
	width: 200px !important;
}

.swipe-icon{
	width: 50px !important;
  height: 50px !important;
  margin: 0 2rem 0 0;
}

@media only screen and (max-width:800px) {
  table tr td li {
	  width: 100%;
	  margin: 4px 4px;
	}
}