#fb{
	background-color: aliceblue;
	padding-top: 1rem;
}

.fb-div{
	display: flex;
}

.fb-div .card{
	width: 1080px;
	margin: 1rem;
}

.fb-div .card img{
	height: 30rem;
}

.fb-div .card .fb-user img{
  height: 100%;
  width: 4rem;
  border-radius: 50%;
  margin: 1rem;
}

.fb-div p{
	padding: .5rem;
}

.fb-user{
	display: flex;
}

.fb-user h6{
	margin: 0;
	padding: 0;
	position: relative;
	top: 18px;
}

.fb-head span{
	direction: rtl;
}

.fb-head h5{
	margin: 0;
	padding: 0;
}

.fb--logout img{
	opacity: .3;
}

.fb--logout a{
 	position: relative;
  	top: -40rem;
  	background: #000000 !important;
	border: 0.2rem solid #000000;
	color: #ffffff;
}

.fb--logout a:hover{
	background: transparent !important;
	border: 0.2rem solid #000000;
	color: #000000;
}

@media only screen and (max-width:400px) {
	.fb-div{
		display: flex;
		overflow-x: scroll;
	}

   .fb-user{
		display: block;
	}

	.fb-user h6{
		top: -14px;
		left: 10px;
	}

	.fb--logout a{
		top: -15rem;
	}
 }