<section id="body" class="articles qr">
    <h1>SCAN QR CODE</h1>
    <div id="loadingMessage">🎥 Please enable Webcam</div>
   <canvas id="canvas" hidden></canvas>
   <div id="qr_image"></div>

  <div id="output">
    <div id="outputMessage">No QR code detected.</div>
    <div hidden><b>Code:</b> <span id="outputData"></span></div>
    <input type="hidden" name="detect" value="0">
  </div>
</section>