{{ attach_library('renify/products') }}

<header class="s-header top-header sticky-fixed" id='header'>
  <div class="row">
    <div class="header-logo">
      <a class="site-logo" href="/">
        <img src="/themes/Renify/favicon.ico" alt="Homepage" />
      </a>
    </div>
    <nav class="header-nav-wrap">
      <ul class="header-main-nav">
        <li class="">
        <li>
          <a href="/products/" data-drupal-link-system-path="<front>" class="is-active">Home</a>
        </li>
        <li>
          <a href="#message-form">Message</a>
        </li>
        <li>
          <a href="/user/login/">Become Seller</a>
        </li>
        <li>
          <a href="#mc-form">Register</a>
        </li>
      </ul>
      <div class="header-cta">
        <ul>
          <li>
            <div class="pt-1">
              <a href="/cart/" class="color-base cart"><i class="fas fa-shopping-cart"></i><span class="badge">0</span></a>
            </div>
          </li>
          <li>
            <a href="/login" class="btn btn--stroke--reverse header-cta__btn"><i class="fas fa-user"></i>Login Now</a>
          </li>
        </ul>
      </div>
    </nav>
    <a class="header-menu-toggle" href="#"><span class="badge-name">Menu</span></a>
    <div class="badge-menu">0</div>
  </div>
</header>