<header class="s-header top-header" id='header'>
    <div class="row">
        <div class="header-logo">
        {% if logged_in %}
          <a class="site-logo" href="/dashboard">
            <img src="/themes/Renify/favicon.ico" alt="Homepage" />
          </a>
        {% else %}
          <a class="site-logo" href="/">
            <img src="/themes/Renify/favicon.ico" alt="Homepage" />
          </a>
        {% endif %}
          
      </div>
      <nav class="header-nav-wrap">
        <ul class="header-main-nav">
          
          {% if logged_in %}
            <li>
              <a href="/dashboard" >Dashboard</a>
            </li>
          {% else %}
             <li>
              <a href="/" class="is-active">Home</a>
            </li>
          {% endif %}

          <li>
            <a href="/routes/">Bus Routes</a>
          </li>
          <li>
            <a href="/vessel/">Shippping Vessels</a>
          </li>
          <li>
            <a href="/store/">Stores</a>
          </li>
          <li>
            <a href="https://gcash.renifysite.com" target="_blank">GCash</a>
          </li>
        {% if logged_in %}
          <li>
            <a href="/node/add/places/">Add Place</a>
          </li>
        {% else %} 
            <li> 
              {% if is_front %}
                <label for="modal-2" style="color:rgba(255,255,255,0.5);cursor:pointer;">Signup</label>
              {% else %}
                <a href="#data-route-signup-form">Signup</a>
              {% endif %}
            </li>
        {% endif %} 
        </ul>
        <div class="header-cta">
        {% if logged_in %}
            <a href="/user/logout/" class="btn btn--primary header-cta__btn padding--left--0">
              <ul>
                <li>
                  <img src='{{user_profile}}'  class="img-no-radius" alt="...">
                </li>
                <li>
                  Logout
                </li>
              </ul>
            </a>
        {% else %}
            <a href="/user/login/" class="btn btn--stroke--reverse header-cta__btn"><i class="fas fa-user"></i>Login Now</a>
        {% endif %}
        </div>
      </nav>
      <a class="header-menu-toggle" ><span>Menu</span></a>
    </div>
</header>